<!--
	A:link {text-decoration:none; color:blue}
	A:visited {text-decoration:none; color:blue}
	A:hover {text-decoration:underline; color:blue}
	.style1 {
		font-family: Verdana,Arial,Helvetica;
		font-size: 8pt;
	}
	.style2 {
		font-family: Verdana,Arial,Helvetica;
		font-size: 10pt;
	}
-->